@media(min-width: 1025px){
#svg1 {
    position: fixed;

    top: 50%;
    left: 50%;
    width: 110%;
    transform: translate(-50%, -50%);
   }
   
   .path {
    animation: draw 25s infinite;
    animation-timing-function: linear;
   }
   
   .path-2 {
    animation: draw 25s infinite;
    animation-delay: 10s;
    animation-timing-function: linear;
   }
   
   @keyframes draw {
    0% {
    }
    100% {
      stroke-dashoffset: 0;
      stroke-opacity: 1;
    }
   }
  } 


@media (max-width: 480px) {
  #svg1 {

    position: absolute;
    bottom: -50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 120%;
   }
   
   .path {
    animation: draw 25s infinite;
    animation-timing-function: linear;
   }
   
   .path-2 {
    animation: draw 25s infinite;
    animation-delay: 10s;
    animation-timing-function: linear;
   }
   
   @keyframes draw {
    0% {
    }
    100% {
      stroke-dashoffset: 0;
      stroke-opacity: 1;
    }
   }
}

@media screen and (min-width:482px) and (max-width:1024px) {
  #svg1 {
    position: fixed;

    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
   }
   
   .path {
    animation: draw 25s infinite;
    animation-timing-function: linear;
   }
   
   .path-2 {
    animation: draw 25s infinite;
    animation-delay: 10s;
    animation-timing-function: linear;
   }
   
   @keyframes draw {
    0% {
    }
    100% {
      stroke-dashoffset: 0;
      stroke-opacity: 1;
    }
   }
} 