/* Tailwind CSS classes */
.sponsorlogos {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .sponsor-tier {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Make the sponsor tiers evenly spaced */
    flex-basis: calc(25% - 4rem); /* Distribute tiers evenly in a row with a 1rem gap */
    max-width: calc(25% - 1rem); /* Prevent tiers from growing too wide */
  }
  
  /* Optional: Customize the image size, border-radius, and hover effect */
  .w-32 {
    width: 8rem;
  }
  
  .h-32 {
    height: 8rem;
  }
  
  .rounded-lg {
    border-radius: 2rem;
  }
  
  .transition-transform {
    transition: transform 0.2s ease-in-out;
  }
  
  .transform:hover {
    transform: scale(1.05);
  }
  
  .hover\:shadow-md:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
.TierA {
display: block;
span {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 1rem;
    min-width: 300px;
}
}
.TierB span {
    width: 30%;
    min-width: 200px
}
.TierC span {
    width: 15%;
    min-width: 133px;
    padding: 0.75rem;
}
.TierD span {
    width: 12.5%;
    min-width: 100px;
    padding: 0.5rem;
}
